.prime-video-image {
  height: 150px;
  width: 100%;
}
.prime-video-container {
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.movies-container {
  padding: 20px;
  color: #ffff;
  width: 90%;
  flex-grow: 1;
}

.movie-heading {
  font-family: 'Roboto';
  font-size: 30px;
}
